
btn-social {
    position: relative;

    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: blanchedalmond;

    border-color: rgba(0, 0, 0, 0.2);
}


button[type='submit'] {
    background-color: #338AFF;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 15px;
    width: 50rem;

}

button[type='button'] {
    cursor: pointer;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 15px;
    width: 50rem;
}
button[type='reset'] {
    background-color: #66666F;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 15px;
    width: 50rem;
}


