<br><br>
<div class="container" [ngStyle]="{'background-image': getUrl(), 'heigth' : '700px' }">
  <div class="mt-5">

    <br><br>


    <div class="container">
      <h1 class="container bg-dark text-white text-center my-4 py-4 text-monospace">Error 404</h1>
      <div class="">
        <div class="card" style="width: 66rem; ">
          <div class="card-body ">
            <div class="col-12 text-center">

            </div>
          
          <div class="text-center text-danger">
            <i class="fas fa-exclamation-triangle fa-3x"></i><br><br>
          </div>
            
            <h6 class="card-text text-monospace text-center text-justify">La pagina no existe o no tiene ningun contendio vuelva a inicio</h6><br><br>

          <div class="text-center">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active"><button class="btn btn-lg btn btn-secondary"><i
            class="fas fa-arrow-circle-left"></i> Volver</button> </a>
          </div>


          </div>
             
        </div>
        <br><br>

      </div>

    </div>
    <br><br><br>
  </div>
</div>
