<br><br>
<div class="container" [ngStyle]=" {'background-image': getUrl(), 'height' : '700px', 'width' : '1500px' }">
  <div class="mt-5">
    <br><br>
     
    <div class="container" >
     <br>
     <h1 class="container bg-dark text-white text-center my-4 py-4 text-monospace ">Inicio</h1>


        <h4 class="text-center text-monospace text-dark ">Mision:</h4>
          <h6 class="text-center text-white  text-justify font-weight-bold text-monospace">La misión de una empresa, declara el propósito,
            responde a la pregunta ¿por qué existe la
            empresa? generalmente incluye una descripción general de la organización, su función y objetivos.</h6>

            <br>

         <h4 class="text-center text-monospace text-dark ">Vision:</h4>
           <h6 class="text-center text-white text-justify font-weight-bold text-monospace">La visión de una empresa describe hacia a donde se
             dirige la empresa, responda a la pregunta
             ¿qué será de la empresa en el futuro.</h6>
 
      <br><br>


    </div>
  </div>
   <br><br><br><br>
</div>